body{
  display: flex;
    justify-content: center;
    background: teal;
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box{
  background: coral;
  padding: 15px;
  margin-bottom: 15px;
}

ul {
  position: relative;
  margin-bottom: 14px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  background: #fff;
  padding: 15px;
}

a:hover{
    background: purple;
    box-shadow: 10px 10px;
}
